<html>
  <head>
    <title>MUSIC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>

  </body>
  <a href="/">Phone Home</a>
  <a href="/bands"> || Back To Da Bands</a>
  <a href="/venues"> || Check These Venues</a>
</html>
